<b>Student:</b>
<form [formGroup]="studentForm" (ngSubmit)="assignStudent()">

  <label>
    Imie:
    <input type="text" formControlName="name">
  </label>

  <label>
    Nazwisko:
    <input type="text" formControlName="surname">
  </label>

  <label>
    Indeks:
    <input type="number" formControlName="id">
  </label>

  <button type="submit" [disabled]="!studentForm.valid">Submit</button>
</form>

<div *ngIf="student">
  <p>Imie: {{student.name}}</p>
  <p>Nazwisko: {{student.surname}}</p>
  <p>Nr indeksu: {{student.id}}</p>
</div>
